<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CRUD KTP</title>
</head>
<body>
  <a href="/create">Create</a>
        <div class="table-responsive">
            <table class="table allign-middle">
                <tr>
                    <th>NIK</th>
                    <th>Tanggal Lahir</th>
                    <th>Foto</th>
                </tr>
                <tr th:each="godummy:${goDummy}">
                    <td th:text="${godummy.id}"></td>
                    <td th:text="${#calendars.format(godummy.tanggal,'dd-MMM-yyyy')}"></td>
                    <td th:text="${godummy.gambar}"></td>
                </tr>
            </table>
        </div>
</body>
</html>